@import url("./transition-style.css");

:root {
  --transition-duration: 1120ms;
}

html,
body {
  position: relative;
  min-width: 360px;
  min-height: 100%;
}

html,
div[data-v-app] > div.v-application {
  position: fixed;
  min-height: 100%;
  height: 100vh;
  min-width: 100%;
  width: 100vw;
  top: 0;
  left: 0;
  transition-duration: calc(var(--transition-duration) * 3 / 2) !important;
  background: url("../assets/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-color: transparent;
}

::-webkit-scrollbar {
  display: none;
}

/* ~1~DISPLAY SCROLL */
.d-scroll::-webkit-scrollbar,
.v-table__wrapper::-webkit-scrollbar {
  display: block;
  width: 12px;
  height: 12px;
}
.d-scroll::-webkit-scrollbar-track,
.v-table__wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.d-scroll::-webkit-scrollbar-thumb,
.v-table__wrapper::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}
.d-scroll::-webkit-scrollbar-thumb:hover,
.v-table__wrapper::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.d-scroll::-webkit-scrollbar-button:single-button:vertical:decrement,
.v-table__wrapper::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><polygon points="12 8 6 14 18 14" fill="%30000"/></svg>');
  background-color: #ccc;
  width: 12px;
  height: 12px;
}
.d-scroll::-webkit-scrollbar-button:single-button:vertical:increment,
.v-table__wrapper::-webkit-scrollbar-button:single-button:vertical:increment {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><polygon points="12 16 6 10 18 10" fill="%30000"/></svg>');
  background-color: #ccc;
  width: 12px;
  height: 12px;
}
.d-scroll::-webkit-scrollbar-button:single-button:horizontal:decrement,
.v-table__wrapper::-webkit-scrollbar-button:single-button:horizontal:decrement {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><polygon points="8 12 14 6 14 18" fill="%30000"/></svg>');
  background-color: #ccc;
  width: 12px;
  height: 12px;
}
.d-scroll::-webkit-scrollbar-button:single-button:horizontal:increment,
.v-table__wrapper::-webkit-scrollbar-button:single-button:horizontal:increment {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><polygon points="16 12 10 6 10 18" fill="%30000"/></svg>');
  background-color: #ccc;
  width: 12px;
  height: 12px;
}
.d-scroll::-webkit-scrollbar-button:hover,
.v-table__wrapper::-webkit-scrollbar-button:hover {
  background: #bbb;
}

.d-scroll::-webkit-scrollbar-corner,
.v-table__wrapper::-webkit-scrollbar-corner {
  background: #f1f1f1;
}

.warning-row {
  background-color: #fff9c4 !important;
  /* kuning muda, bisa sesuaikan */
}
